HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

.vscode

frontend/build/bundle.js
frontend/node_modules/
frontend/package-lock.json

backend/src/main/resources/static/
backend/out/
backend/build/

api-gateway/out/
api-gateway/build/

localconf/
**/temp
